{% extends 'assistant/base.html' %}

{% block content %}

<style>

    .name{

        text-align: center;
        margin-bottom: 60px;
        font-size: 2rem;
    }

    /* ボタンのデザイン */
.btn-submit {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #ff4500;
}

</style>

<p class="name">You signed in as {{ user.username }}</p>

{% endblock %}